.home-leaderboard-list{
    margin: 15 15 0 15;
}

.leaderboard-title {
    font-size: 20;
}

.leaderboard-subtitle {
    font-size: 15;
    font-style: italic;
    width: 100%;
    margin-left: 5;
}

.leaderboard-item {
    font-size: 18;
    margin-bottom: 5;
    padding: 10;
}

.leaderboard-list {
    height: 175;
}

.leader-name {
    font-weight: bold;
}

.leader-amount {
    text-align: right;
}

.page {
    background-color: #efefef;
}

.leaderboard-divider {
    height: 20;
}

.leaderboard-type-label {
    margin-top: 15;
    font-size: 20;
    padding-left: 5;
}

.leader-property {
    margin-top: 5;
    margin-left: 5;
}

#leaderboard-name-container {
    margin-left: 5;
}

#leaderboard-search {
    margin: 10;
}

.giver-icon {
    font-family: "FontAwesome";
    font-size: 25;
}