<ActionBar class="action-bar top-giver-action-bar">
    <Label class="action-bar-title" text="Leaderboard"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="*,*,*,*,*,*,*,*,*">
    <!-- <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView> -->
    <GridLayout row="0" rowSpan="1" columns="*,*,*,*,*">
        <Label class="leaderboard-type-label" col="0" colSpan="1" text="Show:"></Label>
        <SegmentedBar col="1" colSpan="4" class="leaderboard-type-picker" selectedIndex="0" (selectedIndexChanged)="onLeaderTypeFilter($event)">
            <SegmentedBarItem title="All"></SegmentedBarItem>
            <SegmentedBarItem title="Peeps"></SegmentedBarItem>
            <SegmentedBarItem title="Orgs"></SegmentedBarItem>
        </SegmentedBar>
    </GridLayout>
    <TextField hint="Search donors by name" id="leaderboard-search" row="1" rowSpan="1"></TextField>
    <GridLayout row="2" rowSpan="1" rows="*" columns="*,*">
        <StackLayout id="leaderboard-name-container" row="0" rowSpan="1" col="0" colSpan="1">
            <Label class="leaderboard-title" [text]="currentLeaderboard.title"></Label>
            <Label class="leaderboard-subtitle" [text]="currentLeaderboard.subtitle"></Label>
        </StackLayout>
        <Button *ngIf="!isSelectingLeaderboard" class="leaderboard-select-button" row="0" rowSpan="1" col="1" colSpan="1" text="Select Leaderboard" (tap)="onSelectLeaderboardTap()"></Button>
        <GridLayout *ngIf="isSelectingLeaderboard" row="0" rowSpan="1" col="1" colSpan="1" rows="*" columns="*,*">
            <Button class="leaderboard-select-button icon-button ambr-btn-cancel" row="0" rowSpan="1" col="0" colSpan="1" text="&#xf05e;" (tap)="onLeaderboardSelectCancel()"></Button>
            <Button class="leaderboard-select-button icon-button ambr-btn-approve" row="0" rowSpan="1" col="1" colSpan="1" text="&#xf00c;" (tap)="onLeaderboardSelectApprove()"></Button>
        </GridLayout>
    </GridLayout>
    <ListPicker *ngIf="isSelectingLeaderboard" row="3" rowSpan="3" [items]="leaderboardOptions" [selectedIndex]="currentLeaderboardSelectedIndex" (selectedIndexChange)="selectedLeaderboardIndexChanged($event)"></ListPicker>
    <StackLayout [row]="getLeaderboardRowNumber()" [rowSpan]="getLeaderboardRowSpan()" class="home-panel">
        <ListView class="leaderboard-list" 
                [height]="65 * leaderboardData[currentLeaderboard.data].length" 
                [items]="getLeaderboardData()" 
                (itemTap)="onTopGiverTap($event)">
            <ng-template let-leader="item">
                <StackLayout>
                    <GridLayout class="leaderboard-item" columns="*,*,*,*,*,*,*,*,*,*">
                        <Label class="giver-icon" [text]="getIconCodeByLeaderType(leader.entryType)"></Label>
                        <!-- <Image col="0" colSpan="1" [src]="getIconSource(leader.entryType)" strech="none"></Image> -->
                        <Label col="1" colSpan="5" class="leader-name leader-property" [text]="leader[currentLeaderboard.nameProperty]"></Label>
                        <Label col="6" colSpan="4" class="leader-amount leader-property" 
                            [text]="leader[currentLeaderboard.valueProperty]">
                        </Label>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </ListView>
        <Label class="leaderboard-divider"></Label>
    </StackLayout>
</GridLayout>