#charity-detail-container {
    width: 90%; 
    text-align: center;
}

#charity-detail-image {
    width: 50%;
}

#charity-detail-description {
    margin-top: 5;
}

#charity-detail-buttons-container {
    margin-top: 15
}

.charity-detail-counters-container {
    margin-top: 15; 
    font-size: 18;
}
.charity-detail-counter-label {
    text-align: right; 
    font-weight: bold; 
    margin-right: 10;
}
.charity-detail-counter-value {
    text-align: left;
}