<ActionBar class="action-bar top-giver-action-bar">
    <Label class="action-bar-title" text="Donate"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="*,*,*,*,*,*,*,*,*">
    <GridLayout row="0" rowSpan="1" rows="*" columns="*,*,*,*,*">
        <TextField #charitiesQueryField col="0" [colSpan]="charityQueryColSpan" hint="Search by name, keyword, etc." id="charity-search" (returnPress)="onQueryCharities($event)"></TextField>
        <Button *ngIf="isQueryingCharities" col="4" colSpan="1" class="leaderboard-select-button icon-button ambr-btn-cancel" text="&#xf05e;" (tap)="onCharityQueryCancelTap()"></Button>
    </GridLayout>
    <StackLayout row="1" rowSpan="8">
        <ListView [items]="charities" height="100%">
            <ng-template let-charity="item">
                <GridLayout columns="*,*,*,*,*,*" (tap)="onCharityTap(charity)">
                    <Image [src]="charity.imageSource" row="0" rowSpan="2" col="0" colSpan="2" class="charity-img"></Image>
                    <Label row="0" col="2" rowSpan="1" colSpan="4" [text]="charity.name" class="charity-name"></Label>
                    <Label row="1" col="2" rowSpan="3" colSpan="4" [text]="getBriefDescription(charity.description)" textWrap="true"
                        class="charity-description"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</GridLayout>